#root {
    text-align: center;
  }
  body{
    background-color: rgb(128, 128, 128 ,0.7);
    
  }
  
  .app{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .box{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    justify-items: center;
    margin: 10%;
  }
  .flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    padding: 10px;
    height: 52vh;
    width: 25vw;
    align-items: center;
  }
  input{
    height: 35px;
    width: 20vw;
    
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    height: 100%;
  }
  
  button{
    background-color: rgb(56, 167, 56);
    border: none;
    height: 45px;
    width: 20vw;
    align-items: end;
    color: white;
    font-size: 14px;
    cursor: pointer;
    
  }
  label {
    display: none;
    margin-bottom: 5px;
    color: #e86b6b;
  }
  
  label.show-label {
    display: inline-block;
    margin-bottom: 0;
    justify-content: left;
  
  }